<div class="z-10 fixed top-4 right-4 flex flex-col">
  <ul>
    <li>Panning on x-axis: {{ zoomTransform?.x }}</li>
    <li>Panning on y-axis: {{ zoomTransform?.y }}</li>
    <li>Scale factor: {{ zoomTransform?.k }}</li>
  </ul>

  <button
    (click)="openDialog()"
    class="px-3 py-2 bg-red-400 rounded-md shadow-md"
  >
    Open
  </button>
</div>

<div class="flex w-full h-full">
  <div id="sidebar" #sidebar class="basis-2/5 h-full shrink-0 bg-emerald-400">
    Sidebar
  </div>

  <div #wrapper id="wrapper" class="basis-3/5 bg-sky-200 overflow-hidden">
    <div #connectionWrapper id="connectionWrapper" class="relative"></div>

    <div #view id="view" class="relative min-w-full h-full">
      <div #start class="absolute w-24 h-24 bg-indigo-400"></div>
      <div #end class="absolute w-24 h-24 bg-amber-400"></div>

      <div #additional class="absolute w-24 h-24 bg-green-400"></div>
    </div>
  </div>
</div>
